# Local archives and utilities

*.zip
*.exe
*.bat

# Ignore Windows-specific folder management files

desktop.ini

# npm files and folders (server testing)

package.json
package-lock.json
/node_modules/

# Keys, secrets etc. (server testing)

*.key
*.crt
/secret/
